<div class="flex w-full my-md:h-full items-center justify-around bg-black bg-opacity-75">
  <form [formGroup]="registerForm" (ngSubmit)="register()" class="flex flex-col w-full my-md:w-7/12 bg-nomad-pink rounded-3xl gap-8 items-center">
    <p class="w-full text-4xl font-bold text-white text-center bg-black bg-opacity-20 pt-4 pb-4 rounded-3xl">Register Form</p>
    <div class="my-md:w-full flex flex-col my-md:flex-row  items-center">
      <div class="w-full m-8 bg-black bg-opacity-5 p-5 rounded-md">
        <p class="text-2xl text-white font-bold p-2 pb-5">General information</p>
        <div class="w-full flex flex-row items-baseline">
          <input formControlName="name" class="w-3/4 bg-transparent border-b-2 border-gray-500 placeholder-gray-500 h-12 pl-3 ml-5  mb-4" type="text" placeholder="Name"/>
          <p class="w-1/4 text-white  text-xs bg-transparent h-12 pl-3" *ngIf="registerForm.controls.name.invalid && registerForm.controls.name.touched">missing characters</p>
        </div>
        <div class="w-full flex flex-row items-baseline">
          <input formControlName="surname" class="w-3/4 bg-transparent border-b-2 border-gray-500 placeholder-gray-500 h-12 pl-3 ml-5  mb-4" type="text" placeholder="Surname"/>
          <p class="w-1/4 text-white  text-xs bg-transparent h-12 pl-3" *ngIf="registerForm.controls.surname.invalid && registerForm.controls.surname.touched">missing characters</p>
        </div>
        <input formControlName="adress" class="w-3/4 bg-transparent border-b-2 border-gray-500 placeholder-gray-500 h-12 pl-3 ml-5  mb-4" type="text" placeholder="Address"/>
        <input formControlName="phone" class="w-3/4 bg-transparent border-b-2 border-gray-500 placeholder-gray-500 h-12 pl-3 ml-5  mb-4" type="text" placeholder="Phone number (+381)"/>
      </div>
      <div class="w-full m-8 bg-black bg-opacity-5 p-5 rounded-md">
        <p class="text-2xl text-white font-bold p-2 pb-5">Create Account</p>
        <div class="w-full flex flex-row items-baseline">
          <input formControlName="email" type="email" class="w-3/4 bg-transparent border-b-2 border-gray-500 placeholder-gray-500 h-12 pl-3 ml-5  mb-4" placeholder="Email"/>
          <p class="w-1/4 text-white  text-xs bg-transparent h-12 pl-3" *ngIf="registerForm.controls.email.invalid && registerForm.controls.email.touched">invalid email</p>
        </div>
        <div class="w-full flex flex-row items-baseline">
          <input formControlName="password" class="w-3/4 bg-transparent border-b-2 border-gray-500 placeholder-gray-500 h-12 pl-3 ml-5  mb-4" type="password" placeholder="Create password"/>
          <p class="w-1/4 text-white  text-xs bg-transparent h-12 pl-3" *ngIf="registerForm.controls.password.invalid && registerForm.controls.password.touched">missing characters</p>
        </div>
        <div class="w-full flex flex-row items-baseline">
          <input formControlName="passwordConfirm" class="w-3/4 bg-transparent border-b-2 border-gray-500 placeholder-gray-500 h-12 pl-3 ml-5  mb-4" type="password" placeholder="Confirm password"/>
          <p class="w-1/4 text-white text-xs bg-transparent h-12 pl-3" *ngIf="registerForm.controls.passwordConfirm.invalid && registerForm.controls.passwordConfirm.touched">required</p>
        </div>
        <div class="w-full bg-transparent h-12 pl-3 ml-5  mb-4">
          <mat-radio-group formControlName="options" aria-label="Select an option">
            <mat-radio-button value="GUEST">Guest</mat-radio-button>
            <mat-radio-button value="HOST">Host</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="w-full flex flex-row items-baseline">
          <button type="submit" class="rounded-3xl bg-neutral-200 p-3 pl-8 pr-8 my-md:pl-16 my-md:pr-16 md:pl-20 md:pr-20 ml-5  mb-4">Register</button>
          <p class="w-2/4 text-white  text-xs bg-transparent h-12 pl-3" *ngIf="!passwordCheck">passwords don't match</p>
        </div>
       </div>
    </div>

  </form>
</div>
