
<form class="flex flex-col divide-y divide-gray-400 gap-4 p-5" [formGroup]="filterForm" (ngSubmit)="filter()">
  <div class="flex flex-col p-3">
    <h4>Amenities</h4>
    <div formArrayName="amenities" class="grid gap-4 grid-cols-3 p-3">

        <div *ngFor="let item of getAmenityControls(); let i = index">
          <p><mat-checkbox [formControl]="item">{{amenities[i].name}}</mat-checkbox></p>
        </div>
    </div>
  </div>
  <div class="flex flex-col gap-8 p-3">
    <h4>Price range for 1 person per night</h4>
    <mat-slider min="0" max="1000" step="100" showTickMarks discrete [displayWith]="formatLabel">
      <input formControlName="minPrice" value="0" matSliderStartThumb>
      <input formControlName="maxPrice" value="100000" matSliderEndThumb>
    </mat-slider>
  </div>
  <div class="flex flex-col gap-8 p-3">
    <h4>Accommodation type</h4>
    <div class="flex flex-row p-3">
      <mat-radio-group formControlName="options" aria-label="Select an option">
        <mat-radio-button value="STUDIO">Studio</mat-radio-button>
        <mat-radio-button value="ROOM">Room</mat-radio-button>
        <mat-radio-button value="HOUSE">House</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="flex justify-end p-3" mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onFilter()" cdkFocusInitial>Filter</button>
  </div>
</form>

