<form class="w-full h-full" [formGroup]="loginForm" (ngSubmit)="login()">
  <div class=" w-full h-full flex items-center justify-around bg-black bg-opacity-75">
    <div class="flex flex-col h-11/12 w-9/12 md:h-10/12 md:w-4/12 bg-nomad-pink rounded-3xl gap-8 items-center">
      <p class="w-full text-4xl font-bold text-white text-center bg-black bg-opacity-20 pt-4 pb-4 rounded-3xl">Welcome back!</p>

      <input formControlName="username" class="w-3/4 bg-nomad-pink border-b-2 border-gray-500 placeholder-gray-500 h-12 pl-3" type="text" placeholder="Username"/>
      <input formControlName="password" class="w-3/4 bg-nomad-pink border-b-2 border-gray-500 placeholder-gray-500 h-12 pl-3" type="password" placeholder="Password"/>

      <button type="submit" class="rounded-3xl bg-neutral-200 w-fit p-2 pl-7 pr-7">Log In</button>

      <p class="text-center">Don’t have an Account? <br/>
<!--        <span class="text-center text-nomad-dark font-bold underline cursor-pointer">Register Now!</span>-->
      </p>

      <button [routerLink]="['/register']" class="rounded-3xl bg-neutral-200 w-fit p-2 pl-16 pr-16 mb-8">Register</button>
    </div>
  </div>
</form>
