<ng-container *ngIf="accommodation && reservation">
  <div class = "content ml-36 mr-36">

    <h1 class="font-roboto font-bold text-3xl underline pb-4 pl-4 pt-2">{{accommodation.name}}, {{accommodation.address}}</h1>

    <app-accommodation-images [images] = accommodation.images></app-accommodation-images>


    <div class ="grid grid-cols-1 gap-6 md:grid-cols-2 p-4">
      <app-accommodation-description [accommodation] = "accommodation"></app-accommodation-description>
      <app-accommodation-reservation [id] = "id" [accommodation] = "accommodation"
                                     [peopleNum] = "reservation.numGuests" [startDate]="reservation.startDate.toString()"
                                     [endDate]="reservation.finishDate.toString()"></app-accommodation-reservation>

    </div>
    <app-accommodation-host [hostId]="accommodation.hostId"></app-accommodation-host>
    <app-accommodation-amenities [amenities] = "accommodation.amenities"></app-accommodation-amenities>
    <div class = "p-5">
      <h2 class="font-roboto decoration-1 underline-offset-8 text-3xl underline pb-4 pl-4 rating-title">Location</h2>
      <app-map [searchBox]="false" [defaultLocation]="accommodation.address"></app-map>

    </div>
    <div class="flex flex-row justify-between">
      <h2 class="font-roboto text-3xl underline decoration-1 underline-offset-8 pl-4">Reviews</h2>
      <button (click)="onAddCommentClick()" class="underline text-nomad-dark font-bold text-md" >Add a comment</button>
    </div>
    <app-accommodation-comment-form *ngIf="addComment" [accommodationId] = "accommodation.id" (newCommentEvent) = "getCommentsAccommodation()"></app-accommodation-comment-form>
    <app-accommodation-comments [reviews] = "reviewsAccommodation"></app-accommodation-comments>

  </div>
</ng-container>
